{% extends 'base.html' %}

{% block content %}

{% if error %}
  <p>{{ error }}</p>
{% endif %}

  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" required>

    <label for="username" id="username" name="username">Username: </label>
    <input type="text" id="username" name="username" required>

    <label>Password: </label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Зарегистрироваться</button>
  </form>
{% endblock %}
